.logo {
    height: 195px;
    width: 200px;
}
.redes-sociais{
    margin-top: 2rem;
    height: 50px;
    width: 50px;
}
.d-block {
    height: 300px;
    width: 100%;
}
.descricao {
    align-items: center;
    background: #0000004d;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    height: 111px;
    position: relative;
    text-shadow: 2px -2px 5px rgb(0, 0, 0);
    top: -7rem;
}







/* responsividade */
@media (min-width: 320px){
    .p-4{
        align-content: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 85vh;
        justify-content: space-around;
    }
}

@media (min-width: 768px){
    .p-4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .d-block {
        height: 600px;
    }
}
@media (min-width: 1024px){
   
}

