#body {
    background-color: #1a0404;
    font-family: 'Open Sans', sans-serif;    
}
.logo {
    height: 195px;
    width: 200px;
}
.redes-sociais{
    margin-top: 2rem;
    height: 50px;
    width: 50px;
}
.d-block {
    height: 250px;
    width: 100%;
}
.carousel-fade .carousel-item {
    height: 295px;
}
.card-title{
    color: black;
    font-weight: bold;
    text-align: center;
}
.card-text{
    font-style: italic;
    text-align: center;
}
.descricao {
    align-items: center;
    background: #0000004d;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    height: 160px;
    position: relative;
    text-shadow: 2px -2px 5px rgb(0, 0, 0);
    top: -10rem;
}
.carrinho-compras{
    background: #c1c1c1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
    text-align: center;
}
#carrinho-compras{
    height: 50px;
    width: 50px;
}
#img-descr-prod{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.img-prod{
    width: 80px;
}
.btn-maisMenos {
    border: none;
    font-weight: 400;
    height: 28px;
    width: 28px;
}
#btn-mais{
    margin-left: 0.8rem;
}
#btn-menos{
    margin-right: 0.8rem;
}
.remove-btn{
    height: 22px;
    width: 22px;
}
.rodape{
    align-items: center;
    background-color: #280000;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.rodape p{
    color: #d9d9d980;
    font-size: 8px;
    margin-top: 0.5rem;
}
.rodape-sociais {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}



/* responsividade */
@media (min-width: 320px){
    .p-4{
        align-content: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 81vh;
        justify-content: space-around;
    }
    .card {
        margin-bottom: 3rem; 
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }
    #card-deck {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .carrinho-compras{
        border-radius: 25px;
        margin: 0 0.675rem 0 0.675rem;
    }
    .carrinho-add {
        height: 45px;
        margin-top: 1.5rem;
        width: 45px;
    }
}

@media (min-width: 576px){
    #card-deck{
        display: grid;
        grid-template-columns: 250px 250px;
        justify-content: center;
    }

}
@media (min-width: 710px){
    .p-4{
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .d-block {
        height: 365px;
    }
    .descricao {
        background: #00000091;
        font-size: 4.5rem;
        height: 270px;
        top: -20rem;
    }
    .carousel-fade .carousel-item {
        height: 370px;
    }
    #card-deck{
        display: grid;
        grid-template-columns: 230px 230px 230px;
        justify-content: center;
    }
    .card {
        display: flex;
    }
    #card-body {
        display: flex;
        flex-direction: column;
    }
    .carrinho-compras{
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 20px;
    }
}


@media (min-width: 1024px){
    .d-block {
        height: 535px;
    }
    .p-4{
        height: 28rem;
    }
    .carousel-fade .carousel-item {
        height: 600px;
    }
    .descricao{
        top: -13rem;
    }
    .descricao h6 {
        font-size: 1.5rem;
    }
    #card-deck{
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }
}
@media (min-width: 1440px){
    #card-deck{
        grid-template-columns: 400px 400px 400px;
        margin-left: 8vw;
    }
    .carrinho-compras{
        margin: 0 10rem 0 10rem;
    }
}
@media (min-width: 1600px){
    #card-deck{
        grid-template-columns: 500px 500px 500px;
        margin-left: 10vw;
    }
    .carrinho-compras{
        margin: 0 20rem 0 20rem;
    }
}